include consts.pug

html
  head
    title Turing Machine Simulator

    //JQuery
    script(src=FOLDER_INCLUDE+'/jquery.min.js')

    //Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

    //Various
    link(rel='stylesheet', type='text/css', href=FOLDER_STYLE+'/style.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')

    script(src=FOLDER_SCRIPT+'/utils.js')
    script(src=FOLDER_SCRIPT+'/topbar_utils.js')
    script(src=FOLDER_SCRIPT+'/console.js')
    script(src=FOLDER_SCRIPT+'/tmachine.js')
  body
    .container-fluid
        .col-xs-3.col-sm-3.col-md-3.col-lg-3.background-borders
            p Left
        

        ////////////////////////
        //////////CORE//////////
        ////////////////////////

        .col-xs-6.col-sm-6.col-md-6.col-lg-6.central-container
            .container
                button(class='btn btn-block', onclick='switchExamplesPage()') Examples
                button(class='btn btn-block', onclick='switchHelpPage()') Help
            .container
                h1 Turing Machine Simulator
                .form
                    .form-group
                        label(for="") Input:
                        input(type='text', name='input', placeholder="<E,#,Q,q0,F,d>") 
                    .form-group
                        label Definition:
                        input(type='text', name='definition', value='', size='55')
                    .form-group
                        label Transitions:
                        textarea(cols='30', rows='15', name='transitions')
                    .form-group
                        label Console:
                        textarea(readonly='', cols='100', rows='15', name='console')

                    //button(type='button', onclick='generateMachineWithGUIInput()') Generate TM
                    //button(type='button', onclick='elaborateInputString()') Execute
                    //button(type='button', onclick='stopMachine()') Stop TM
                    //button(type='button', onclick='showOptions()') Options
                    //br
                    //button(type='button', onclick='clearConsole()') Clear console
                    //button(type='button', onclick='printCurrentMachineOnConsole()') Debug TM
                    //button(type='button', onclick='showShareLink()') Share TM

        ////////////////////////
        ////////////////////////
        ////////////////////////

        .col-xs-3.col-sm-3.col-md-3.col-lg-3.background-borders
            p Right        